//////////IMPORTS///////////////////
@import 'bourbon/bourbon';
@import 'base/base';
@import '_normalize';


//////////BASE STYLES///////////////////
html {
  box-sizing: border-box;
  line-height: 1.5;
}
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
}

h1, h2 {
  font-size: 2.5em;
}

//////////CONTAINER AND NAVBAR///////////////////
.container {
  background-color: #666;
    .nav {
      font-size: 1.25em;

    }
     .main-logo {
      font-size: 1.75em;
      text-align: center;
    }
      .footer-bottom {
        background-color: #2C5E7C;
        color: white;
        text-align: center;
    }
}

//////////MAIN CONTENT///////////////////
.main-content {
  background-color: #3e3e3e;
  color: white;
  margin-top: 30px;
  padding: 50px;
  border-radius: 10px;

}

//////////SECONDARY CONTENT///////////////////
.secondary-content {
  background-color: #999;
  color: white;
  margin-top: 40px;
  padding: 50px;
  border-radius: 10px;
    > #myTabs {
      font-weight: bold;
      font-size: 1.75em;
    }
    > .row img {
          margin: 20px 0;
    }
}


//////////FOOTER CONTENT///////////////////
.main-footer {
  background-color: #2C5E7C;
  color: white;
  text-align: center;
  margin: 20px 0;
    .footer-navs {
      margin: 50px 0;
      font-size: 1.15em;
        > li {
          margin: 10px 0;
        }
    }
}
